---
const { slice } = Astro.props;

const title = slice.values[1];
const text = slice.values[2];
const image = slice.media ? slice.media[1] : null;
---

<div>
  <h2>{title}</h2>
  <p>{text}</p>
</div>
